.header{
    height: 87px;
}
.response {
    width: 100%;
}

.swiperView {
    height: 30px;
}

.swiper {
    height: 530px;
}

.swiper .le-img {
    width: 90%;
    height: 85%;
    display: block;
    transform: scale(.9);
    transition: transform .3s ease-in-out 0s;
    transition: transform .3s ease-in-out 0s,-webkit-transform .3s ease-in-out 0s;
    border-radius: 4px;
}

.swiper .le-img.le-active {
    transform: scale(1);
}

.swiper .le-name {
    width: 90%;
    font-size: 28px;
    text-align: center;
    height: 10%;
}

.swiper .le-name.le-names {
    margin-top: 20px;
}

.shareButton {
    width: 100%;
    background-color: hsla(0,0%,71.4%,0);
}

.shareButton:after {
    border: none;
}

.shareImage {
    width: 100%;
    height: 160px;
}

.box-shadow {
    width: 750px;
    height: 20px;
}

.movieH {
    height: 100px;
    line-height: 100px;
    font-weight: 900;
    font-size: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.movieBox,.movieH {
    width: 94%;
    margin: 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.movieBox {
    flex-wrap: wrap;
}

.jieshuoList {
    width: 50%;
}

.tanchuang {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.tanchuang-guanbi {
    font-size: 40px;
    width: 550px;
}

.tanchuang-img {
    width: 550px;
    height: 650px;
}

.tanchuang-button {
    width: 150px;
    color: #fff;
    background-color: #c8c7cc;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}