
.webkit-text {
  background-image: -webkit-linear-gradient(left,#ff0,#dd524d 25%,#bdcd34 50%,#dd524d 75%,#ff0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 3s linear infinite;
}


.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

























@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: -100% 0;
  }
}

.myIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.black{
  color: #FFF;
}
.white{
  color: #000;
}